<div class="page-footer">
  <div class="footer-container">
    <div class="copyright">
      <b>Criado com
        <i class="material-icons copyright-icon">favorite</i>
        por
        <a class="copyright-link" href="https://k41n3w-portfolio.vercel.app/"> kaineo</a>
      </b>
      <a class="grey-text text-lighten-4 right hide-on-small-only" href="https://www.linkedin.com/in/k41n3w/"><i class="footer-icons fab fa-linkedin"></i></a>
      <a class="grey-text text-lighten-4 right hide-on-small-only" href="https://www.facebook.com/kaaineo/"><i class="footer-icons fab fa-facebook-square"></i></a>
      <a class="grey-text text-lighten-4 right hide-on-small-only" href="https://github.com/k41n3w"><i class="footer-icons fab fa-github"></i></a>
    </div>
  </div>
</div>
